.container {
  width: 330px;
  margin: 0 auto;
  background-attachment: fixed;
  background-color: black;
  opacity: 0.69;
  position: relative;
  top: 100px;

}

.square {
  font-size: 50px;
  text-align: center;
  border-color: 1px solid white;
  border-style: solid;
  width: 100px;
  height: 100px;
  display: inline-block;
  vertical-align: top;
  position: relative;
  color: green;
  border-radius: 10px;

}


body {
        font-size: 20px;
        position: relative;
        font-weight: lighter;
        font: "Lucida Console", Monaco, monospace;
        overflow: hidden;
        background-image: url("http://orig07.deviantart.net/4570/f/2013/089/3/8/tileable_matrix_code_by_daschinia-d5zrwux.gif");
        background-color: #cccccc;
        background-size: cover;
        background-attachment: scroll;
        back
  }

  h1 {
    display: block;
    font-size: 2em;
    -webkit-margin-before: 0.67em;
    -webkit-margin-after: 0.67em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;;
    color: white;
    font-family: "Lucida Console", Monaco, monospace;
    font-size: 250%;
    text-align: center;
    font-style: oblique;italic;


      }

#restart {
    position: relative;
    left: 570px;
    top: 170px;
    text-align: center;
    font-size: 12pt;
    color: #666666;
    background-color: black;
    padding: 5px 15px 5px 15px;
    border-radius: 5px;
    font-family: "Lucida Console", Monaco, monospace;
}

#dialogoverlay{
	display: none;
	opacity: .8;
	position: fixed;
	top: 0px;
	left: 0px;
	background: #FFF;
	width: 100%;
	z-index: 10;
}
#dialogbox{
	display: none;
	position: fixed;
	background: #000;
	border-radius:7px;
	width:550px;
	z-index: 10;
}
#dialogbox > div { background:#FFF; margin:8px; }
#dialogbox > div > #dialogboxhead{ background: #666; font-size:19px; padding:10px; color:#CCC; }
#dialogbox > div > #dialogboxbody{ background:#333; padding:20px; color:#FFF; }
#dialogbox > div > #dialogboxfoot{ background: #666; padding:10px; text-align:right; }


#sq1 {

}
#sq2 {

}

#sq3 {

}

#sq4 {

}

#sq5 {

}

#sq6 {

}

#sq7 {

}

#sq8 {

}

#sq9 {

}
